/*Theme colors*/
:root{
    --header-color: #F9F5F4;
    --button-color: #AFABAA;
    --button-border-color: #606060;
    --button-text-color: #FFFFFF;
    --header-border-color: #C5C0C0;
    --background-color: #FFFFFF;
    --text-color: #6E6E6E;
    --footer-color: #A09697;
    --footer-text-color: #FFFFFF;
}

[theme="dark"]{
    --header-color: #252530;
    --button-color: #606060;
    --button-border-color: #80808A;
    --button-text-color: #DADADA;
    --header-border-color: #707070;
    --background-color: #3A3A3B;
    --text-color: #E0E0E0;
    --footer-color: #405055;
    --footer-text-color: #EEEEEE;
}
/*Website would be wider than the screen without this*/
*{
    transition: .2s;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: block;
    overflow: hidden;
    width: 100%;
    min-height: 115px;
    padding-top: 36px;
    padding-right: 7vw;
    padding-bottom: 27px;
    background-color: var(--header-color);
    border-bottom: 2px solid var(--header-border-color);
}
/*Theme change button*/
input{
    float: right;
    border-radius: 10vw;
    width: 10vw;
    height: 2.5vw;
    font-weight: bold;
    font-size: 1vw;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: 0.19vw solid var(--button-border-color);
}

article{
    width: 100%;    
    padding-block: 100px;
    background-color: var(--background-color);
    color: var(--text-color);
}

#article{
    max-width: 750px;
    margin: auto;
}
/*Sets as flex and horizontal spacing between the divs*/
.flex-container{
    display: flex;
    gap: 100px;
}
/*Makes elements stack on top of each other*/
.flex-stack{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 28pt;
}

p{
    font-size: 14pt;
}

img{
    max-width: 400px;
    max-height: 320px;
}
/*Sets the portrait to be circular*/
#portrait{
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

figure{
    margin: 0px;
}

figcaption{
    text-align: center;
}

#center{
    text-align: center;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    background-color: var(--footer-color);
    color: var(--footer-text-color);
}